# EDA on Demographic Data Analysis For Beginners

### First import required package

In [3]:
import numpy as np
import pandas as pd

### Code to read excel file in pandas

In [4]:
df=pd.read_excel('adult.data.xlsx')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

#### Now lets start our analysis:

### Here are few questions that we have to solve:

Q.1) How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [3]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

Q.2)Average age of a man.

In [5]:
#average age of man
gender_filter=df['sex'] == 'Male'
ave_age=df[gender_filter]['age'].mean()
ave_age

39.43354749885268

Q.3)What is the percentage of people who have a Bachelor's degree?

In [27]:
per_bachelor=(df[df['education'] == 'Bachelors']['education'].count()*100/df['education'].count()).round(1)
per_bachelor

16.4

Q.4) What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K

In [6]:
#first lets define a variable i.e'higher_education'.
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

In [144]:
higher_education[higher_education['salary'] == '>50K']['salary'].count() / higher_education.shape[0] * 100

46.535843011613935

Q.5)What percentage of people without advanced education make more than 50K?

In [151]:
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

In [279]:
lower_education[lower_education['salary'] == '>50K']['salary'].count() / lower_education.shape[0] * 100

17.3713601914639

Q.6)What is the minimum number of hours a person works per week (hours-per-week feature)?

In [7]:
min_num=df["hours-per-week"].min()
min_num

1

Q.7) What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [8]:
#OK i know you are guessing what i had done now,basically i converted the filter_min_hours_worked in pandas dataframe because by default it is in numpy.



filter_min_hours_worked = df["hours-per-week"] == min_num
min_hours_workers:pd.DataFrame = df[filter_min_hours_worked]

minu=min_hours_workers[min_hours_workers['salary'] == '>50K'].shape[0]*100/min_hours_workers['salary'].shape[0]
minu

10.0

Q.8)What country has the highest percentage of people that earn >50K?

In [10]:
highest_earning_country = (df.loc[df["salary"] == ">50K", "native-country"].value_counts() / df["native-country"].value_counts()).fillna(0).sort_values(ascending=False).index[0]
highest_earning_country

'Iran'

highest_earning_country_percentage=round(len(df[(df["native-country"] == highest_earning_country) & (
        df["salary"] == ">50K")]) / len(df[df["native-country"] == highest_earning_country]) * 100, 1)
highest_earning_country_percentage

Q.9)Identify the most popular occupation for those who earn >50K in India

In [17]:
filter_country=df['native-country'] == 'India'

In [19]:
top=df[filter_country].loc[filter_salary]['occupation'].value_counts()

In [20]:
top

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Sales                1
Transport-moving     1
Adm-clerical         1
Name: occupation, dtype: int64

As you can see in above result the most common occupation is 'Prof-specialty'

# Thankyou:)